<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-toolbar color="primary">
        <img
          src="https://file.wikipediam.org/wikipedia/commons/thumb/9/99/Question_book-new.svg/512px-Question_book-new.svg.png"
          alt="">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>To Do list</span>

      </mat-toolbar>
    </div>
  </div>
</div>